<!DOCTYPE html>
<html>
  <head>
    <title>Couple Alert!</title>
  </head>
  <body>
    <h3>BREAKING NEWS: New celebrity power couple alert!</h3>
    <%= "#{params[:female_celeb]} and #{params[:male_celeb]} spotted getting cozy together!" %>
  </body>
  
</html>